# Flask
APP_ENV=development
FLASK_DEBUG=true
SECRET_KEY=replace_with_secure_secret_key
SECURITY_PASSWORD_SALT=replace_with_secure_password_salt

# Database
SQLALCHEMY_DATABASE_URI=sqlite:///db.sqlite3
DB_HOST=localhost
DB_USER=your_username
DB_PASS=your_password

# Cache
CACHE_TYPE=SimpleCache
CACHE_REDIS_HOST=localhost
CACHE_REDIS_PORT=6379
CACHE_REDIS_DB=0
CACHE_DEFAULT_TIMEOUT=120

# MailHog / SMTP
MAIL_SERVER=localhost
MAIL_PORT=1025
MAIL_DEFAULT_SENDER=no-reply@Pustakalay.com

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2

# App API Keys
API_KEY=your_api_key_here
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
